
// Custom

// * {
// 	outline: 1px solid pink !important;
// }

// Vertical Rhythm

$rhythm-unit: 'rem';
$font-unit: 1rem;
$base-font-size: $rem-base;
$base-line-height: $rem-base * 1.5;
@include establish-baseline;

body {
	//background: #f5f8fa;
	//background: #fafafa;
	background: #fff;
	font-family: $font-normal;
	//@include debug-vertical-alignment;
}

#{headings(all)} {
	color: #657380;
	font-family: $font-normal;
	font-weight: 700;
	margin: 2.355rem 0;
}

h2 {
	text-align: left;
}

h3 {
	margin-left: 1rem;
	font-size: 1.2rem;
}

p {
	color: #8d9aa5;
	font-family: $font-condensed;
	font-weight: 300;
	font-size: 1.3rem;
}

a {
	@include single-transition(all, .3s, ease-in-out);
}

a.link-text {
	//color: #3cf;
	color: #1eaede;
	font-family: $font-normal;
	font-weight: 500;
	font-size: 1.3rem;
	&:hover {
		//color: #3cf;
		color: #1eaede;
		background: #eee;
	}
}

.date-text {
	color: #657380;
	font-size: 1.2rem;
	font-family: $font-normal;
}

.location-text {
	color: #657380;
	font-size: 1.2rem;
	font-family: $font-normal;
}

.light-text {
	color: #ccc;
	font-family: $font-normal;
}

.screen-reader {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.wrapper {
	 padding: 0;	
}

.left-content {
    border: medium none;
    background: #424242;
    padding-bottom: 2rem;
    @media #{$large-up} {
    	height: 100%;
	    width: 20rem;
	    position: fixed;
	    top: 0;
	    left: 0;
    }
    .email {
    	color: #f1f1f1;
    	display: none;
    	position: absolute;
    	bottom: 5rem;
    	width: 100%;
    	margin: auto;
    	text-align: center;	
    }
}

.main-content {
    border: medium none;
    max-width: 1200px;
    @media #{$large-up} {
    	padding-left: 20rem;
	}
}

.content {
	margin: 10px;
	padding: 10px;
}

// Bio

.bio {
	padding: 1.5rem 0 2.5rem;
	position: relative;
	h1 {
		color: #f2f2f2;
		text-align: center;
		margin-bottom: 1rem;
		// @media #{$large-up} {
		// 	display: inline-block;
		// 	margin: 1rem;
		// }
	}
	.role {
		color: #ccc;
		text-transform: uppercase;
		text-align: center;
		// @media #{$large-up} {
		//     position: absolute;
		//     top: 7.5rem;
		//     left: 14.7rem;
		// }
	}
	img {
		@include border-radius(150px);
		display: block;
		margin: auto;
		// @media #{$large-up} {
		// 	display: inline-block;
		// }
	}
}

// Contacts

.contacts {
	text-align: center;
	.fa {
		color: #999;
		font-size: 1.48rem;
		margin: .3rem;
		@include single-transition(all, .3s, ease-in-out);
		&:hover {
			color: #fff;
		}
	}
}

// Navigation

.navigation {
	nav {
    text-align: center;
    position: fixed;
    right: 5rem;
    top: 1.5rem;
		ul {
	    list-style: none;
	    padding: 1rem 0;
	    text-align: right;
			li {
				@media #{$large-up} {
					font-size: 1.5rem;
				}
				margin: 0;
				padding: 0;
				a {
					color: #657380;
					text-transform: uppercase;
					font-family: $font-normal;
					font-weight: 700; 
					&:hover,
					:active,
					:focus {
						padding-right: 0.33rem;	
					}
				}
			}
		}
	}
}

// Work Experience 
 
.work {

}

// Projects 

.projects {
	img {
		background: #fff;
		display: block;
		margin: 2rem auto 2.5rem;
		padding: 0.4rem;
	}
}

// Education 

.education {
	padding: 5px;
}

// Skills

.skills {
	h2 {
		margin-bottom: 5.5rem;
	}
    #css, #html, #sass, #js {

    }
    rect.background {
    	fill: transparent;
    }
	g.component {
		margin: auto;	
		fill: #e1e1e1;
		text.label {
			font-family: $font-normal;
			font-weight: 700;
			fill: #555;
			text-transform: uppercase;
		}
	}

	g.labels {
		text.label {
			fill: #ccc;
		}
	}
	g.arcs {
		path.arc {
			fill: #1EAEDE;
		}
		path.arc2 {
			fill: green;
		}
	}
	svg.radial-svg {
	    display: block;
	    margin: auto;
	}

}

// Map 

.map {
	margin-bottom: 10rem;
	#mapDiv {
		height: 400px;
		width: 100%;
	}
	#map {
		display: block;
		height: 100%;
	}

}

// Footer 

footer {
	background: #444;
	color: #66757f;
	bottom: 0;
	position: fixed;
	width: 100%;
	text-align: center;
}







