
// Custom

* {
	outline: 1px solid pink !important;
}

// Vertical Rhythm

$rhythm-unit: 'rem';
$font-unit: 1rem;
$base-font-size: $rem-base;
$base-line-height: $rem-base * 1.5;
@include establish-baseline;

body {
	background: #f5f8fa;
	@include debug-vertical-alignment;
}

.screen-reader {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

// Header 

header {
	padding: 5px;
}

// Navigation

nav {
	
}

// Work Experience 
 
.work-experience {
	padding: 5px;
}

// Projects 

.projects {
	padding: 5px;
}

// Education 

.education {
	padding: 5px;
}

// Skills

.skills {
	padding: 5px;
}

// Map 

.map {
	padding: 5px;
	#mapDiv {
		height: 400px;
		width: 100%;
	}
	#map {
		display: block;
		height: 100%;
	}

}

// Footer 

footer {
	bottom: 0;
	height: 50px;
	position: fixed;
	width: 100%;
}








