
// Custom

// * {
// 	outline: 1px solid pink !important;
// }

// Vertical Rhythm

$rhythm-unit: 'rem';
$font-unit: 1rem;
$base-font-size: $rem-base;
$base-line-height: $rem-base * 1.5;
@include establish-baseline;

body {
	//background: #f5f8fa;
	background: #fafafa;
	font-family: $font-normal;
	//@include debug-vertical-alignment;
}

#{headings(all)} {
	color: #555;
	font-family: $font-normal;
	font-weight: 700;
	margin: 1em 0;
}

h2 {
	text-align: center;
}

p {
	font-family: $font-condensed;
	font-weight: 300;
}

a.link-text {
	color: #3cf;
	font-family: $font-normal;
	font-weight: 500;
	&:hover {
		color: #3cf;
		background: #eee;
	}
}

.light {
	color: #ccc;
	text-transform: uppercase;
}

.info-light {
	color: #ccc;
	font-family: $font-normal;
}

.info-dates {
	font-family: $font-normal;
}

section h2 {

}

.screen-reader {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.content {
	// background: #fff;
	// border: 1px solid #e1e8ed;
	// @include border-radius(5px);
	//@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
	margin: 10px;
	padding: 10px;
}

// Header 

header {
	padding: 1.5rem 0 2.5rem;
	position: relative;
	h1 {
		text-align: center;
		margin-bottom: 1rem;
		@media #{$large-up} {
			display: inline-block;
			margin: 1rem;
		}
	}
	.role {
		text-align: center;
		@media #{$large-up} {
		    position: absolute;
		    top: 7.5rem;
		    left: 14.7rem;
		}
	}
	img {
		@include border-radius(150px);
		display: block;
		margin: auto;
		@media #{$large-up} {
			display: inline-block;
		}
	}
}

// Navigation

.navigation {
	background: #fff;
	margin-bottom: 50px;
	nav {
		text-align: center;
		ul {
			padding: 10px 0;
			li {
				font-size: 0.8rem;
				@media #{$large-up} {
					font-size: 1rem;
				}
				margin: 0;
				padding: 0;
				a {
					color: #666;
					text-transform: uppercase;
					font-family: $font-normal;
					font-weight: 700; 
				}
			}
		}
	}
}

// Work Experience 
 
.work-experience {
	padding: 5px;
}

// Projects 

.projects {
	padding: 5px;
	img {
		display: block;
		margin: auto auto 1rem;
	}
}

// Education 

.education {
	padding: 5px;
}

// Skills

.skills {
	padding: 5px;
}

// Map 

.map {
	padding: 5px;
	#mapDiv {
		height: 400px;
		width: 100%;
	}
	#map {
		display: block;
		height: 100%;
	}

}

// Footer 

footer {
	background: #444;
	color: #66757f;
	bottom: 0;
	position: fixed;
	width: 100%;
	text-align: center;
	.fa {
		color: #888;
		font-size: 1.28rem;
		margin: 5px;
	}
	.info {
		display: none;
	}
}








