
// Links

a {
  @include font-family(primary);
  transition: all .3s ease;
  color: color(cerulean);
  font-size: 1.2rem;
  font-weight: 600;

  &:hover,
  &:focus {
    background: color(snow-drift);
    color: color(cerulean);
  }
}
