
// Links

a {
  transition: all .3s ease;

  &:hover,
  &:focus {

  }

  &.link-text {
    @include font-family(primary);
    color: color(cerulean);
    font-size: 1.2rem;
    font-weight: 500;

    &:hover {
      background: color(snow-drift);
      color: color(cerulean);
    }
  }
}
