
// Bio

.bio {
  padding: 2rem 0 2.5rem;
  position: relative;

  h1 {
    color: color(seashell);
    margin-bottom: 1rem;
    text-align: center;
  }

  .role {
    color: color(pumice);
    text-align: center;
    text-transform: uppercase;
  }

  img {
    border-radius: 999px;
    display: block;
    margin: auto;
  }
}
