
// Contacts

.contacts {
  background: color(black-haze);
  bottom: 0;
  left: 0;
  padding: 0.25rem 0 0.1875rem 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;

  @include breakpoint(large) {
    background: none;
    bottom: auto;
    left: auto;
    max-width: 14.375rem;
    padding: 0;
    position: relative;
    width: auto;
  }

  .contacts-icon {
    background: #fff;
    border: 2px solid rgba(color(cerulean), 0.8);
    color: rgba(color(cerulean), 0.8);
    font-size: 18px;
    margin: .3rem;
    transition: all .3s ease;
    height: 38px;
    width: 38px;
    padding: 8px 0 0;
    border-radius: 999px;

    &:hover {
      border-color: #EEEEEE;
      color: #222931;
    }
  }
}
