
// Education

.education {

  .education-school {
    @include font-family(primary);
    color: color(blue-bayoux);
    font-weight: 600;
    opacity: 0.5;
  }

  .education-date {
    @include font-family(primary);
    color: color(blue-bayoux);
    font-size: 1.1rem;
  }
}
