
// Navigation

.navigation {
  background: color(neutral-light);
  //border-bottom: 4px solid color(charcoal);

  nav {
    height: 3.4375rem;
    text-align: center;

    @include breakpoint(large) {
      position: fixed;
      right: 2rem;
      top: 1.5rem;
    }

    ul {
      -webkit-overflow-scrolling: touch;
      list-style: none;
      margin: 0;
      overflow-x: scroll;
      overflow-y: hidden;
      padding: 1rem 0;
      text-align: center;
      white-space: nowrap;

      @include breakpoint(large) {
        text-align: right;
      }

      li {
        display: inline-block;
        margin: 0 1.25rem;
        padding: 0;

        @include breakpoint(medium) {
          margin: auto;
          width: 20%;
        }

        @include breakpoint(large) {
          display: block;
          font-size: 1.5rem;
          margin: auto;
          width: auto;
        }

        a {
          @include font-family(primary);
          color: color(blue-bayoux);
          font-weight: 700;
          text-transform: uppercase;

          &.active {
            color: color(cerulean);
          }

          @include breakpoint(large) {

            &:hover {
              padding-right: 0.33rem;
            }
          }
        }
      }
    }
  }
}
