
// Projects

.projects {

  .project {
    margin: 0 0 2.5rem;

    &:last-child {
      margin: 0 0 1.25rem;
    }

    .project-date {
      @include font-family(primary);
      color: color(blue-bayoux);
      font-size: 1.1rem;
      margin: 0 0 20px;
    }

    .project-images {

      .project-image {
        background: color(neutral-light);
        border: 1px solid color(off-white);
        display: block;
        margin: 2rem auto 0;
        padding: 0.4rem;
      }
    }

    p {
      margin: 0;
    }
  }
}
