
// Work

.work {

  .employer {
    margin: 0;

    .employer-logo {
      border-radius: 5px;
      border: 1px solid color(off-white);
      height: 45px;
      margin: 0 5px 10px 0;
      padding: 4px;
      width: 45px;
    }

    .employer-position {
      @include font-family(primary);
      color: color(blue-bayoux);
      opacity: 0.5;
    }

    .employer-date {
      @include font-family(primary);
      color: color(blue-bayoux);
      font-size: 1.1rem;
    }

    .employer-location {
      @include font-family(primary);
      color: color(blue-bayoux);
      font-size: 1.1rem;
      margin: 0 0 20px;
    }
  }
}
