
// Work

.work {

  .employer {

    .employer-logo {
      border-radius: 5px;
      border: 1px solid color(off-white);
      height: 45px;
      margin: 0 5px 10px 0;
      padding: 4px;
      width: 45px;
    }
  }
}
