
// Colors

$colors: (
  aluminum: #999999,
  blue-bayoux: #64727F,
  cerulean: #1FAEDF,
  charcoal: #424242,
  neutral-dark: #000000,
  neutral-grey: #B2AEA3,
  neutral-light: #FFFFFF,
  pumice: #C7C7C7,
  seashell: #F2F2F2,
  snow-drift: #F9F9F9
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
