
// Typography

body {
  @include font-family(primary);
}

h1, h2, h3, h4, h5, h6 {
  @include text-transform(uppercase);
  @include font-weight(extra-bold);
  @include font-family(primary);
  color: color(blue-bayoux);
  font-weight: 700;
  margin: 2.355rem 0;
}

h2 {
  margin: 0.9375rem 0 1.25rem;

  @include breakpoint(medium) {
    font-size: 1.5rem;
  }

  @include breakpoint(large) {
    font-size: 1.7rem;
  }
}

h3 {
  font-size: 1.2rem;
  margin: 1.355rem 0 1.355rem 0;
}

@mixin text($type) {
  @if $type == primary {
    @include font-family(primary);
    color: color(neutral-dark);
  }
  @if $type == secondary {
    @include font-family(secondary);
    color: color(neutral-grey);
  }
}

p {
  @include font-family(secondary);
  color: color(blue-bayoux);
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.25rem;
}

.text-primary,
%text-primary {
  @include text(primary);
}

.text-secondary,
%text-secondary {
  @include text(secondary);
}
