
// Content

.wrapper {
   padding: 0;
}

.left-content {
    background: color(black-haze);
    border-right: 1px solid color(off-white);

    @include breakpoint(large) {
      height: 100%;
      width: 16.875rem;
      position: fixed;
      top: 0;
      left: 0;
    }

    .email {
      bottom: 5rem;
      color: color(seashell);
      display: none;
      margin: auto;
      position: absolute;
      text-align: center;
      width: 100%;
    }
}

.main-content {
    border: medium none;
    max-width: 75rem;

    @include breakpoint(large) {
      padding-left: 16.875rem;
  }
}

.content {
  margin: 0.65rem 0;
  padding: 0.65rem 0;
}
