
// Content

.wrapper {
   padding: 0;
}

.left-content {
    border: medium none;
    background: #424242;

    @include breakpoint(large) {
      height: 100%;
      width: 20rem;
      position: fixed;
      top: 0;
      left: 0;
    }

    .email {
      color: #f1f1f1;
      display: none;
      position: absolute;
      bottom: 5rem;
      width: 100%;
      margin: auto;
      text-align: center;
    }
}

.main-content {
    border: medium none;
    max-width: 1200px;

    @include breakpoint(large) {
      padding-left: 20rem;
  }
}

.content {
  margin: 0.65rem 0;
  padding: 0.65rem 0;
}
